{% extends 'base.html' %}
{% from 'macros.html' import static_file %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="swiper-container hero-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hero-content flex justify-content-center align-items-center flex-column">
                            <img src="{{ url_for('static', filename='images/slider.jpg') }}" alt="">
                        </div><!-- .hero-content -->
                    </div><!-- .swiper-slide -->

                    <div class="swiper-slide">
                        <div class="hero-content flex justify-content-center align-items-center flex-column">
                            <img src="{{ url_for('static', filename='images/slider.jpg') }}" alt="">
                        </div><!-- .hero-content -->
                    </div><!-- .swiper-slide -->

                    <div class="swiper-slide">
                        <div class="hero-content flex justify-content-center align-items-center flex-column">
                           <img src="{{ url_for('static', filename='images/slider.jpg') }}" alt="">
                        </div><!-- .hero-content -->
                    </div><!-- .swiper-slide -->
                </div><!-- .swiper-wrapper -->

                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next flex justify-content-center align-items-center">
                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z"></path></svg></span>
                </div>
                <div class="swiper-button-prev flex justify-content-center align-items-center">
                    <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z"></path></svg></span>
                </div>
            </div><!-- .swiper-container -->
        </div><!-- .col -->
    </div><!-- .row -->
</div>

<div class="container-fluid">
    <!-- Intro -->
    <section id="intro" class="container">
        <div class="row gtr-150">    
            <div class="col-md-6">
                <header class="major">
                    <h2>Intro 1</h2>
                </header>
                <p>To be continued.</p>
            </div>
            <div class="col-md-6 imp-medium">
                <span class="image fit"><img src="https://ws4.sinaimg.cn/large/006tKfTcgy1g0o97qtjnnj30no0iijuv.jpg" alt="" /></span>
            </div>
        </div>
        <div class="row gtr-150">
            <div class="col-md-6">
                <header class="major">
                    <h2>Intro 2</h2>
                </header>
                <p>To be continued.</p>
            </div>
            <div class="col-md-6">
                <span class="image fit"><img src="https://ws1.sinaimg.cn/large/006tKfTcgy1g0o976621jj30no0iiah4.jpg" alt="" /></span>
            </div>
        </div>
    </section>
    
</div>

{% endblock %}
{% block author %}{% endblock %}
