{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>
                Log in
            </h1>
        </div>
        {% for message in get_flashed_messages(with_categories=True) %}
            <div class="row h-100 page-header justify-content-center align-items-center">{{ message[1] }}</div>
        {% endfor %}
        <div class="row h-100 justify-content-center align-items-center">

            {{ render_form(form, extra_classes='col-6') }}

        </div>
    </div>
{% endblock %}
{% block author %}{% endblock %}

